*{
    font-family: 'VT323', monospace !important;
    color: rgb(137, 243, 76);
}
body{
    background-color: #111111;
}
video{
    display: block;
}
ul{
    text-align: center;
}
li{
    display: inline;
}
.heading{
    text-align: center;
}
time{
    text-align: center;
    display: block;
}
hr{
    border-color: rgb(0, 225, 255);
}