.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
*{
    font-family: 'VT323', monospace;
    font-size: 1.1em;
    color: rgb(137, 243, 76);
}
body{
    background-color: #111111;
}
button{
    background-color:#111111;
    border: 1px solid rgb(137, 243, 76);
}
video{
    display: block;
    margin: auto;
    padding: 1em;
    max-width: 100%;
}
ul{
    text-align: center;
    padding: 0px;
    list-style-type: none;
}
main{
    padding-left: 10%;
    padding-right: 10%;
}
article p{
    text-align: left;
}
time{
    text-align: center;
    display: block;
}
hr{
    border-color: rgb(0, 225, 255);
}
#social_section{
    margin: auto;
    max-width: 100%;
}
.inline{
    display: inline;
}
.heading{
    text-align: center;
}

#footer{
    text-align: center;
}
.video_box{
    margin: auto;
}
.center_text{
    text-align: center;
}
/*COLLAPSEABLES*/
.panel {
    border: 1px solid #333;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .panel h2 {
    margin: 0;
    padding: 0 0.5rem;
    user-select: element;
    background: #333;
    color: #FFF;
  }
  
  .panel .content {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0 0.5rem;
    box-sizing: border-box;
    
    transition: width 500ms,
                height 500ms,
                padding 500ms;
  }
  
  .content.closed {
    height: 0px;
  }

@media only screen and (min-width:1440px){
    *{
        font-size: 2vw;
    }
}

@media only screen and (max-width:450px){
    .video_box{
        padding: 0em;
    }
}