*{
    font-family: 'VT323', monospace !important;
    color: rgb(137, 243, 76);
}
body{
    background-color: #111111;
}
video{
    display: block;
    margin: auto;
    padding: 1em;
    max-width: 100%;
}
ul{
    text-align: center;
    padding: 0px;
}
li{
    display: inline;
}
.heading{
    text-align: center;
}
time{
    text-align: center;
    display: block;
}
hr{
    border-color: rgb(0, 225, 255);
}
#footer{
    text-align: center;
}
main{
    padding-left: 10%;
    padding-right: 10%;
    border: dashed pink 1em;
}
p{
    text-align: left;
}
.video_box{
    margin: auto;
}
#about_me p{
    text-align: center;
}